
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
  }
  
*{
    margin: 0;
}
/* share style start */
.primary-btn{
    margin: 0;
    background-color: rgb(224, 44, 109);
    padding: 10px 24px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.flex{
    display: flex;
}
/* share style end */

/* header section start */
header{
    background-color: rgb(45, 37, 160);
    color: white;
} 
nav{
    margin: 0rem auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
nav ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 3rem 0;
}
/* banner section start  */
.banner-container{
    width: 90%;
    margin: 0rem auto;
    padding: 4rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.banner-title{
    width: 100%;
}
.banner-title h1{
    font-size: 64px;
    font-weight: 700;
}

.banner-img img{
    width: 100%;
}
/* banner section end  */
/* header section end */
.player-container{
    margin: 4rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.player-content img{
    width: 100%;
}
.player-content h3{
    margin: 16px 0;
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 700;
}
.player-content p{
    color: rgb(108, 108, 108);
}
/* highlight section */
.highlight-container{
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.highlight-content{
    margin: 3rem 0;
}
.highlight-content h2{
    color: rgb(10, 8, 38);
    font-size: 48px;
    font-weight: 700
}
.highlight-content p{
    width: 90%;
    color: rgb(108, 108, 108);
    font-size: 16px;
    font-weight: 400;
}
.highlight-content img{
    width: 100%;
}
.highlight-content button{
    margin: 2rem 0;
}
/* responsive */
@media screen and (min-width: 1440px){
    nav,
    .banner-container,
    .player-container,
    .highlight-content{
        max-width: 1440px;
    }
}